In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./data/stock_day.csv")

In [3]:
data.head(10)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
2018-02-13,21.40,21.90,21.48,21.31,30802.45,0.28,1.32,21.342,22.103,23.387,39694.65,45518.14,65161.68,0.77
2018-02-12,20.70,21.40,21.19,20.63,32445.39,0.82,4.03,21.504,22.338,23.533,44645.16,45679.94,68686.33,0.81
2018-02-09,21.20,21.46,20.36,20.19,54304.01,-1.50,-6.86,21.920,22.596,23.645,48624.36,48982.38,70552.47,1.36
2018-02-08,21.79,22.09,21.88,21.75,27068.16,0.09,0.41,22.372,23.009,23.839,44411.98,48612.16,73852.45,0.68
2018-02-07,22.69,23.11,21.80,21.29,53853.25,-0.50,-2.24,22.480,23.258,23.929,52281.28,56315.11,74925.33,1.35

In [4]:
# 数据运算
data['open'] + 1

2018-02-27    24.53
2018-02-26    23.80
2018-02-23    23.88
2018-02-22    23.25
2018-02-14    22.49
2018-02-13    22.40
2018-02-12    21.70
2018-02-09    22.20
2018-02-08    22.79
2018-02-07    23.69
2018-02-06    23.80
2018-02-05    23.45
2018-02-02    23.40
2018-02-01    24.71
2018-01-31    24.85
2018-01-30    24.71
2018-01-29    25.40
2018-01-26    25.27
2018-01-25    25.99
2018-01-24    26.49
2018-01-23    26.15
2018-01-22    26.14
2018-01-19    25.60
2018-01-18    25.40
2018-01-17    25.42
2018-01-16    24.40
2018-01-15    25.01
2018-01-12    24.70
2018-01-11    24.67
2018-01-10    25.10
              ...
2015-04-13    20.60
2015-04-10    20.55
2015-04-09    19.28
2015-04-08    18.60
2015-04-07    17.54
2015-04-03    17.44
2015-04-02    17.21
2015-04-01    17.18
2015-03-31    17.78
2015-03-30    16.99
2015-03-27    15.90
2015-03-26    16.14
2015-03-25    16.97
2015-03-24    16.38
2015-03-23    16.34
2015-03-20    16.38
2015-03-19    16.20
2015-03-18    16.18
2015-03-17    15.90
2015-03-16    15.52
2015-03-13    15.13
2015-03-12    15.11
2015-03-11    15.80
2015-03-10    15.20
2015-03-09    15.14
2015-03-06    14.17
2015-03-05    13.88
2015-03-04    13.80
2015-03-03    13.52
2015-03-02    13.25
Name: open, Length: 643, dtype: float64

In [5]:
data['open'].add(1).sum()

14321.35

In [6]:
data['open'] - 1

2018-02-27    22.53
2018-02-26    21.80
2018-02-23    21.88
2018-02-22    21.25
2018-02-14    20.49
2018-02-13    20.40
2018-02-12    19.70
2018-02-09    20.20
2018-02-08    20.79
2018-02-07    21.69
2018-02-06    21.80
2018-02-05    21.45
2018-02-02    21.40
2018-02-01    22.71
2018-01-31    22.85
2018-01-30    22.71
2018-01-29    23.40
2018-01-26    23.27
2018-01-25    23.99
2018-01-24    24.49
2018-01-23    24.15
2018-01-22    24.14
2018-01-19    23.60
2018-01-18    23.40
2018-01-17    23.42
2018-01-16    22.40
2018-01-15    23.01
2018-01-12    22.70
2018-01-11    22.67
2018-01-10    23.10
              ...
2015-04-13    18.60
2015-04-10    18.55
2015-04-09    17.28
2015-04-08    16.60
2015-04-07    15.54
2015-04-03    15.44
2015-04-02    15.21
2015-04-01    15.18
2015-03-31    15.78
2015-03-30    14.99
2015-03-27    13.90
2015-03-26    14.14
2015-03-25    14.97
2015-03-24    14.38
2015-03-23    14.34
2015-03-20    14.38
2015-03-19    14.20
2015-03-18    14.18
2015-03-17    13.90
2015-03-16    13.52
2015-03-13    13.13
2015-03-12    13.11
2015-03-11    13.80
2015-03-10    13.20
2015-03-09    13.14
2015-03-06    12.17
2015-03-05    11.88
2015-03-04    11.80
2015-03-03    11.52
2015-03-02    11.25
Name: open, Length: 643, dtype: float64

In [7]:
data['open'].sub(1)

2018-02-27    22.53
2018-02-26    21.80
2018-02-23    21.88
2018-02-22    21.25
2018-02-14    20.49
2018-02-13    20.40
2018-02-12    19.70
2018-02-09    20.20
2018-02-08    20.79
2018-02-07    21.69
2018-02-06    21.80
2018-02-05    21.45
2018-02-02    21.40
2018-02-01    22.71
2018-01-31    22.85
2018-01-30    22.71
2018-01-29    23.40
2018-01-26    23.27
2018-01-25    23.99
2018-01-24    24.49
2018-01-23    24.15
2018-01-22    24.14
2018-01-19    23.60
2018-01-18    23.40
2018-01-17    23.42
2018-01-16    22.40
2018-01-15    23.01
2018-01-12    22.70
2018-01-11    22.67
2018-01-10    23.10
              ...
2015-04-13    18.60
2015-04-10    18.55
2015-04-09    17.28
2015-04-08    16.60
2015-04-07    15.54
2015-04-03    15.44
2015-04-02    15.21
2015-04-01    15.18
2015-03-31    15.78
2015-03-30    14.99
2015-03-27    13.90
2015-03-26    14.14
2015-03-25    14.97
2015-03-24    14.38
2015-03-23    14.34
2015-03-20    14.38
2015-03-19    14.20
2015-03-18    14.18
2015-03-17    13.90
2015-03-16    13.52
2015-03-13    13.13
2015-03-12    13.11
2015-03-11    13.80
2015-03-10    13.20
2015-03-09    13.14
2015-03-06    12.17
2015-03-05    11.88
2015-03-04    11.80
2015-03-03    11.52
2015-03-02    11.25
Name: open, Length: 643, dtype: float64

In [8]:
# 逻辑运算
# 筛选data['open'] > 23 的 日期数据
data[data['open']>23]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-29,24.40,24.63,23.77,23.72,65469.81,-0.73,-2.98,24.684,24.728,24.294,91842.60,91692.73,93456.22,1.64
2018-01-26,24.27,24.74,24.49,24.22,50601.83,0.11,0.45,24.956,24.694,24.221,92407.05,92122.56,91980.51,1.27
2018-01-25,24.99,24.99,24.37,24.23,104097.59,-0.93,-3.68,25.084,24.669,24.109,107976.51,99092.73,92262.67,2.61
2018-01-24,25.49,26.28,25.29,25.20,134838.00,-0.20,-0.79,25.130,24.599,23.997,100644.02,93535.55,89522.22,3.37
2018-01-23,25.15,25.53,25.50,24.93,104205.76,0.39,1.55,24.992,24.450,23.844,92124.92,87064.33,85876.80,2.61
2018-01-22,25.14,25.40,25.13,24.75,68292.08,-0.01,-0.04,24.772,24.296,23.644,91542.85,84861.33,84970.00,1.71
2018-01-19,24.60,25.34,25.13,24.42,128449.11,0.53,2.15,24.432,24.254,23.537,91838.07,88985.70,82975.10,3.21
2018-01-18,24.40,24.88,24.60,24.30,67435.14,0.01,0.04,24.254,24.192,23.441,90208.95,96567.41,78252.92,1.69
2018-01-17,24.42,24.92,24.60,23.80,92242.51,0.20,0.82,24.068,24.239,23.378,86427.08,102837.01,77049.61,2.31
2018-01-16,23.40,24.60,24.40,23.30,101295.42,0.96,4.10,23.908,24.058,23.321,82003.73,101081.47,74590.92,2.54
2018-01-15,24.01,24.23,23.43,23.30,69768.17,-0.80,-3.30,23.820,23.860,23.257,78179.81,95219.71,71006.65,1.75
2018-01-12,23.70,25.15,24.24,23.42,120303.53,0.56,2.37,24.076,23.748,23.236,86133.33,91838.46,69690.35,3.01
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2018-01-10,24.10,24.60,23.80,23.40,70125.79,-0.14,-0.58,24.410,23.394,23.204,119246.95,85508.89,66934.89,1.76
2018-01-09,24.60,24.78,23.96,23.82,82175.82,-0.76,-3.07,24.208,23.237,23.213,120159.21,84689.28,69688.92,2.06
2018-01-08,24.12,24.95,24.71,24.01,109535.76,0.20,0.82,23.900,22.992,23.153,112259.60,85078.67,67644.48,2.74
2018-01-05,24.00,25.40,24.51,23.70,204266.23,-0.56,-2.23,23.420,22.820,23.048,97543.60,76964.50,64853.80,5.11
2017-12-22,23.21,23.39,22.99,22.90,28394.00,-0.21,-0.91,23.224,23.313,23.316,35689.43,50210.29,53887.77,0.71
2017-12-21,23.39,23.50,23.21,22.86,34005.55,-0.11,-0.47,23.226,23.275,23.389,38699.06,52743.10,55126.09,0.85
2017-12-20,23.61,23.96,23.33,23.20,43368.92,-0.14,-0.60,23.278,23.180,23.430,40910.18,54204.51,57245.14,1.09
2017-12-19,23.23,23.66,23.46,23.23,43068.70,0.31,1.34,23.374,23.053,23.526,45968.22,55134.09,58490.17,1.08
2017-12-15,23.40,23.40,23.00,22.85,43442.15,-0.46,-1.96,23.402,22.856,23.715,64731.15,64281.37,65134.62,1.09
2017-12-14,23.65,23.77,23.47,23.22,45061.12,-0.33,-1.39,23.324,22.974,23.869,66787.14,64289.26,71322.17,1.13
2017-12-13,23.99,24.38,23.81,23.60,68659.12,-0.15,-0.63,23.082,23.052,24.104,67498.84,64780.47,73475.40,1.72
2017-12-04,23.91,24.15,22.92,22.85,85482.80,-1.27,-5.25,24.068,24.357,26.172,56728.88,61968.83,108773.06,2.14
2017-12-01,24.04,24.49,24.18,24.04,43521.00,-0.04,-0.17,24.326,24.574,26.435,51298.90,65987.87,112043.75,1.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-26,27.00,27.50,25.29,24.27,150289.14,-1.68,-6.23,27.114,29.735,29.653,104764.62,121334.25,136335.98,5.14
2015-06-25,28.00,28.50,26.97,26.00,109642.01,-1.07,-3.82,28.296,30.645,29.653,91983.20,123612.91,137939.84,3.75
2015-06-24,27.60,28.50,28.05,27.48,100785.98,0.87,3.20,29.168,31.333,29.708,88217.07,139552.02,141688.41,3.45
2015-06-23,26.80,28.80,27.19,25.31,86795.67,-0.88,-3.13,30.028,31.862,29.788,98686.00,149917.27,146559.61,2.97
2015-06-19,30.98,30.98,28.07,28.07,76310.31,-3.12,-10.00,30.928,32.174,29.925,121200.77,159224.51,149810.81,2.61
2015-06-18,30.94,32.89,31.20,30.38,86382.05,-0.12,-0.38,32.356,32.186,29.998,137903.89,165522.67,156464.42,2.96
2015-06-17,31.45,32.20,31.33,29.80,90811.36,-1.03,-3.18,32.994,31.766,29.849,155242.62,165774.07,158204.82,3.11
2015-06-16,30.48,33.48,32.35,29.61,153130.61,0.66,2.08,33.498,31.375,29.565,190886.97,168659.00,161871.41,5.24
2015-06-15,34.99,34.99,31.69,31.69,199369.53,-3.52,-10.00,33.696,30.964,29.114,201148.55,164608.26,158362.17,6.82
2015-06-12,34.69,35.98,35.21,34.01,159825.88,0.82,2.38,33.420,30.513,28.683,197248.25,154480.41,153888.00,5.47
2015-06-11,33.17,34.98,34.39,32.51,173075.73,0.54,1.59,32.016,29.572,28.036,193141.45,151337.71,151428.57,5.92
2015-06-10,34.10,36.35,33.85,32.23,269033.12,0.51,1.53,30.538,28.660,27.424,176305.53,152266.76,149078.50,9.21
2015-06-09,30.46,33.34,33.34,30.46,204438.47,3.03,10.00,29.252,28.082,26.770,146431.02,143824.79,139248.67,7.00
2015-06-08,28.40,30.90,30.31,28.40,179868.05,2.12,7.52,28.232,27.714,26.164,128067.98,143201.95,133185.54,6.16
2015-06-05,27.37,28.35,28.19,27.37,139291.88,1.19,4.41,27.606,27.675,25.677,111712.57,140397.10,128138.18,4.77
2015-06-04,27.42,27.55,27.00,25.00,88896.11,-0.42,-1.53,27.128,27.810,25.268,109533.97,147406.17,125636.02,3.04
2015-06-03,28.25,28.50,27.42,26.62,119660.61,-0.82,-2.90,26.782,27.932,24.858,128227.99,150635.57,124643.79,4.10
2015-06-02,27.50,28.59,28.24,27.40,112623.23,1.06,3.90,26.912,27.755,24.460,141218.55,155083.83,122956.92,3.86
2015-06-01,25.86,27.79,27.18,25.86,98091.02,1.38,5.35,27.196,27.263,24.085,158335.93,152116.08,121744.71,3.36
2015-05-29,25.50,26.58,25.80,23.70,128398.88,0.53,2.10,27.744,26.852,23.838,169081.63,153295.60,119753.75,4.40
2015-05-28,27.95,27.95,25.27,25.26,182366.20,-2.80,-9.97,28.492,26.500,23.673,185278.38,151519.43,117932.57,6.24
2015-05-27,29.66,29.66,28.07,27.95,184613.42,-1.59,-5.36,29.082,26.187,23.514,173043.16,145890.24,112643.52,6.32
2015-05-26,29.92,30.30,29.66,28.70,198210.12,-0.26,-0.87,28.598,25.458,23.198,168949.11,134672.56,108947.78,6.78
2015-05-25,29.30,30.30,29.92,28.10,151819.52,0.38,1.29,27.330,24.613,22.861,145896.23,123169.14,107003.53,5.20
2015-05-22,29.87,30.99,29.54,28.53,209382.62,1.32,4.68,25.960,23.679,22.440,137509.57,115879.26,104078.16,7.17
2015-05-21,27.50,28.22,28.22,26.50,121190.11,2.57,10.02,24.508,22.725,22.053,117760.48,103865.87,98766.20,4.15
2015-05-20,24.10,25.65,25.65,24.10,164143.16,2.33,9.99,23.292,21.784,21.733,118737.32,98652.00,99743.64,5.62
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-16,24.63,25.21,22.97,21.94,221070.31,-1.41,-5.78,22.230,19.983,17.825,182172.04,153247.63,124317.19,7.57
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [9]:
# 获取open 23 到24 之间数据
data[(data['open']>23) & (data['open']<24)]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-16,23.40,24.60,24.40,23.30,101295.42,0.96,4.10,23.908,24.058,23.321,82003.73,101081.47,74590.92,2.54
2018-01-12,23.70,25.15,24.24,23.42,120303.53,0.56,2.37,24.076,23.748,23.236,86133.33,91838.46,69690.35,3.01
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-12-22,23.21,23.39,22.99,22.90,28394.00,-0.21,-0.91,23.224,23.313,23.316,35689.43,50210.29,53887.77,0.71
2017-12-21,23.39,23.50,23.21,22.86,34005.55,-0.11,-0.47,23.226,23.275,23.389,38699.06,52743.10,55126.09,0.85
2017-12-20,23.61,23.96,23.33,23.20,43368.92,-0.14,-0.60,23.278,23.180,23.430,40910.18,54204.51,57245.14,1.09
2017-12-19,23.23,23.66,23.46,23.23,43068.70,0.31,1.34,23.374,23.053,23.526,45968.22,55134.09,58490.17,1.08
2017-12-15,23.40,23.40,23.00,22.85,43442.15,-0.46,-1.96,23.402,22.856,23.715,64731.15,64281.37,65134.62,1.09
2017-12-14,23.65,23.77,23.47,23.22,45061.12,-0.33,-1.39,23.324,22.974,23.869,66787.14,64289.26,71322.17,1.13
2017-12-13,23.99,24.38,23.81,23.60,68659.12,-0.15,-0.63,23.082,23.052,24.104,67498.84,64780.47,73475.40,1.72
2017-12-04,23.91,24.15,22.92,22.85,85482.80,-1.27,-5.25,24.068,24.357,26.172,56728.88,61968.83,108773.06,2.14
2017-09-06,23.51,24.88,24.51,23.38,161732.80,0.56,2.34,24.576,23.958,23.105,195688.49,164855.13,150908.43,4.05
2017-09-05,23.76,24.32,23.95,23.31,138987.19,0.19,0.80,24.504,23.814,22.950,202643.87,175133.74,145571.54,3.48
2017-08-30,23.25,24.60,24.15,23.21,196509.73,1.09,4.73,23.340,23.111,22.387,134021.77,169549.50,116718.92,4.92
2017-08-29,23.45,23.85,23.06,23.04,90952.18,-0.44,-1.87,23.124,22.885,22.274,147623.61,156883.33,110864.84,2.28
2017-08-28,23.45,23.70,23.50,23.05,119146.78,0.13,0.56,23.382,22.723,22.240,221919.75,151883.31,112052.01,2.98
2017-08-23,23.90,24.06,23.07,22.85,264518.94,-1.28,-5.26,22.882,22.252,22.194,205077.23,136961.73,110195.54,6.62
2017-07-27,23.39,23.39,22.76,22.63,101811.01,-0.64,-2.73,23.218,22.647,22.337,128795.61,133537.65,158236.21,2.55
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2017-07-25,23.07,24.20,23.70,22.64,167489.48,0.67,2.91,23.042,22.759,22.199,137135.54,156145.65,166607.70,4.19
2017-07-14,23.28,24.29,22.87,22.80,163954.17,-0.60,-2.56,23.102,22.157,22.571,232640.92,184547.63,230585.56,4.10
2017-07-13,23.60,23.60,23.47,22.81,175621.84,-0.34,-1.43,22.790,22.026,22.468,222056.57,182934.76,228670.24,4.40
2017-06-27,23.10,23.24,22.20,22.06,288556.75,-1.06,-4.56,23.660,22.519,20.555,327174.26,253323.02,148477.09,7.22
2017-06-26,23.30,23.87,23.26,22.57,282271.66,-0.08,-0.34,24.036,22.211,20.333,344263.97,230982.02,136002.95,7.06
2017-06-22,23.32,25.93,25.93,23.26,421673.59,2.36,10.01,23.376,21.272,19.694,271087.94,167798.74,103052.22,10.55
2017-06-20,23.75,24.45,24.08,22.22,374005.34,1.58,7.02,21.378,20.152,18.976,179471.78,114371.67,73335.91,9.36
2016-11-08,23.17,24.50,24.46,22.95,105850.97,1.41,6.12,23.424,23.730,22.741,84457.15,102137.11,80998.53,2.65
2016-11-07,23.11,23.39,23.06,22.84,44069.47,-0.33,-1.41,23.312,23.609,22.637,84152.81,106671.47,79616.43,1.10
2016-11-04,23.17,23.65,23.30,22.80,57950.55,0.09,0.39,23.554,23.491,22.571,105512.66,108668.03,80235.56,1.45
2016-11-03,23.16,23.51,23.20,22.65,108786.66,0.13,0.56,23.672,23.258,22.486,113321.44,106419.41,79787.09,2.72
2016-11-02,23.80,23.99,23.10,23.00,105628.11,-0.78,-3.27,23.836,23.061,22.391,110733.47,98134.50,78653.50,2.64
2016-10-31,23.78,24.75,24.27,23.51,150868.73,0.38,1.59,23.906,22.619,22.078,129190.13,84118.69,75081.12,3.78
2016-10-27,23.89,24.28,24.02,23.89,95846.80,-0.08,-0.33,22.844,22.076,21.694,99517.38,70095.45,70979.59,2.40
2016-10-26,23.25,24.56,24.10,22.80,151046.05,0.86,3.70,22.286,21.899,21.546,85535.53,64577.62,69375.01,3.78
2016-09-09,23.92,24.06,23.08,22.60,182559.94,-1.14,-4.71,23.516,22.585,22.350,158412.12,140117.16,120647.63,6.25
2016-09-07,23.20,24.94,24.48,23.00,228627.59,1.49,6.48,23.192,22.201,22.093,193177.05,116716.33,112294.72,7.83
2015-12-28,23.20,23.40,21.89,21.85,71790.53,-1.31,-5.65,23.208,23.187,22.366,63460.36,67779.93,64901.54,2.46
2015-12-25,23.18,23.30,23.19,22.82,46800.90,0.15,0.65,23.620,23.227,22.294,62566.37,64647.24,65422.61,1.60
2015-12-23,23.97,24.44,24.11,23.66,70107.29,0.33,1.39,23.836,23.012,22.217,78284.79,69944.93,66730.18,2.40
2015-12-22,23.80,24.10,23.80,23.50,53460.38,-0.11,-0.46,23.462,22.731,22.204,72633.58,68271.22,66575.31,1.83
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74
2015-11-27,23.35,23.43,21.17,21.17,96648.60,-2.35,-9.99,23.098,23.979,23.423,73520.63,101791.59,111634.76,3.31
2015-11-26,23.85,24.08,23.53,23.50,51446.29,-0.31,-1.30,23.710,24.357,23.395,74550.04,110489.85,109815.49,1.76
2015-11-25,23.40,24.15,23.85,23.40,67009.81,0.23,0.97,23.786,24.407,23.266,88392.90,117356.00,110610.73,2.29
2015-11-24,23.26,23.75,23.64,22.86,65186.31,0.33,1.42,23.818,24.487,23.104,106285.54,125822.98,112165.27,2.23
2015-11-20,23.93,24.49,24.23,23.53,101795.66,0.32,1.34,24.860,24.526,22.939,130062.55,140931.38,118704.06,3.48
2015-11-19,23.72,24.26,23.91,23.01,120660.59,-0.12,-0.50,25.004,24.336,22.849,146429.66,138187.78,123305.46,4.13
2015-11-10,23.50,24.79,24.79,23.50,202020.19,2.25,9.98,22.742,21.721,21.054,124019.30,98507.55,116786.59,6.92
2015-10-26,23.32,23.46,21.85,21.06,178488.00,-0.58,-2.59,20.632,20.057,17.844,135255.37,136241.55,104451.05,6.11
2015-07-23,23.20,24.26,24.14,23.00,141147.69,1.68,7.48,22.030,22.978,25.000,112668.13,138161.35,127490.18,4.83
2015-06-30,23.82,25.13,25.01,21.44,174521.44,1.19,5.00,25.830,27.929,29.447,140738.14,119712.07,142160.16,5.97
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [10]:
# 获取open<23 和 >24 之间数据
data[(data['open'] > 23) | (data['open'] < 24)]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
2018-02-13,21.40,21.90,21.48,21.31,30802.45,0.28,1.32,21.342,22.103,23.387,39694.65,45518.14,65161.68,0.77
2018-02-12,20.70,21.40,21.19,20.63,32445.39,0.82,4.03,21.504,22.338,23.533,44645.16,45679.94,68686.33,0.81
2018-02-09,21.20,21.46,20.36,20.19,54304.01,-1.50,-6.86,21.920,22.596,23.645,48624.36,48982.38,70552.47,1.36
2018-02-08,21.79,22.09,21.88,21.75,27068.16,0.09,0.41,22.372,23.009,23.839,44411.98,48612.16,73852.45,0.68
2018-02-07,22.69,23.11,21.80,21.29,53853.25,-0.50,-2.24,22.480,23.258,23.929,52281.28,56315.11,74925.33,1.35
2018-02-06,22.80,23.55,22.29,22.20,55555.00,-0.97,-4.17,22.864,23.607,24.029,51341.63,64413.58,75738.95,1.39
2018-02-05,22.45,23.39,23.27,22.25,52341.39,0.65,2.87,23.172,23.928,24.112,46714.72,69278.66,77070.00,1.31
2018-02-02,22.40,22.70,22.62,21.53,33242.11,0.20,0.89,23.272,24.114,24.184,49340.40,70873.73,79929.71,0.83
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-29,24.40,24.63,23.77,23.72,65469.81,-0.73,-2.98,24.684,24.728,24.294,91842.60,91692.73,93456.22,1.64
2018-01-26,24.27,24.74,24.49,24.22,50601.83,0.11,0.45,24.956,24.694,24.221,92407.05,92122.56,91980.51,1.27
2018-01-25,24.99,24.99,24.37,24.23,104097.59,-0.93,-3.68,25.084,24.669,24.109,107976.51,99092.73,92262.67,2.61
2018-01-24,25.49,26.28,25.29,25.20,134838.00,-0.20,-0.79,25.130,24.599,23.997,100644.02,93535.55,89522.22,3.37
2018-01-23,25.15,25.53,25.50,24.93,104205.76,0.39,1.55,24.992,24.450,23.844,92124.92,87064.33,85876.80,2.61
2018-01-22,25.14,25.40,25.13,24.75,68292.08,-0.01,-0.04,24.772,24.296,23.644,91542.85,84861.33,84970.00,1.71
2018-01-19,24.60,25.34,25.13,24.42,128449.11,0.53,2.15,24.432,24.254,23.537,91838.07,88985.70,82975.10,3.21
2018-01-18,24.40,24.88,24.60,24.30,67435.14,0.01,0.04,24.254,24.192,23.441,90208.95,96567.41,78252.92,1.69
2018-01-17,24.42,24.92,24.60,23.80,92242.51,0.20,0.82,24.068,24.239,23.378,86427.08,102837.01,77049.61,2.31
2018-01-16,23.40,24.60,24.40,23.30,101295.42,0.96,4.10,23.908,24.058,23.321,82003.73,101081.47,74590.92,2.54
2018-01-15,24.01,24.23,23.43,23.30,69768.17,-0.80,-3.30,23.820,23.860,23.257,78179.81,95219.71,71006.65,1.75
2018-01-12,23.70,25.15,24.24,23.42,120303.53,0.56,2.37,24.076,23.748,23.236,86133.33,91838.46,69690.35,3.01
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2018-01-10,24.10,24.60,23.80,23.40,70125.79,-0.14,-0.58,24.410,23.394,23.204,119246.95,85508.89,66934.89,1.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-04-13,19.60,21.30,21.13,19.50,171822.69,1.70,8.75,19.228,17.812,16.563,149620.34,114456.84,111752.31,5.88
2015-04-10,19.55,19.89,19.43,19.20,112962.15,-0.19,-0.97,18.334,17.276,16.230,133648.38,109309.78,106228.29,3.87
2015-04-09,18.28,19.89,19.62,18.02,183119.05,1.20,6.51,17.736,16.826,15.964,124323.21,106501.34,104829.10,6.27
2015-04-08,17.60,18.53,18.42,17.60,157725.97,0.88,5.02,17.070,16.394,15.698,101421.29,97906.88,101658.57,5.40
2015-04-07,16.54,17.98,17.54,16.50,122471.85,0.88,5.28,16.620,16.120,15.510,86769.62,97473.29,98832.94,4.19
2015-04-03,16.44,16.77,16.66,16.25,91962.88,0.22,1.34,16.396,15.904,15.348,79293.34,94172.24,99956.63,3.15
2015-04-02,16.21,16.50,16.44,16.21,66336.32,0.15,0.92,16.218,15.772,15.229,84971.19,92655.96,104350.08,2.27
2015-04-01,16.18,16.48,16.29,16.00,68609.42,0.12,0.74,15.916,15.666,15.065,88679.47,95386.75,105692.28,2.35
2015-03-31,16.78,16.88,16.17,16.07,84467.62,-0.25,-1.52,15.718,15.568,14.896,94392.47,100679.68,105615.58,2.89
2015-03-30,15.99,16.63,16.42,15.99,85090.45,0.65,4.12,15.620,15.469,14.722,108176.96,108109.99,108345.78,2.91
2015-03-27,14.90,15.86,15.77,14.90,120352.13,0.84,5.63,15.412,15.314,14.527,109051.14,109047.78,108905.84,4.12
2015-03-26,15.14,15.35,14.93,14.91,84877.75,-0.37,-2.42,15.326,15.184,14.462,100340.74,103146.79,108303.41,2.91
2015-03-25,15.97,15.97,15.30,15.18,97174.40,-0.38,-2.42,15.416,15.102,14.436,102094.02,103156.85,109604.83,3.33
2015-03-24,15.38,16.16,15.68,15.28,153390.08,0.30,1.95,15.418,15.002,14.385,106966.89,105410.25,110336.03,5.25
2015-03-23,15.34,15.56,15.38,15.25,89461.32,0.04,0.26,15.318,14.899,14.304,108043.02,100192.60,107645.16,3.06
2015-03-20,15.38,15.48,15.34,15.18,76800.13,-0.04,-0.26,15.216,14.792,14.232,109044.42,105741.03,108857.41,2.63
2015-03-19,15.20,15.64,15.38,15.11,93644.19,0.07,0.46,15.042,14.686,14.153,105952.84,116044.19,111147.22,3.21
2015-03-18,15.18,15.66,15.31,15.02,121538.71,0.13,0.86,14.788,14.464,14.058,104219.67,115997.81,112493.60,4.16
2015-03-17,14.90,15.44,15.18,14.63,158770.77,0.31,2.08,14.586,14.223,13.954,103853.62,110551.48,111739.85,5.43
2015-03-16,14.52,15.05,14.87,14.51,94468.30,0.40,2.76,14.480,13.975,13.843,92342.17,108581.56,107464.31,3.23
2015-03-13,14.13,14.50,14.47,14.08,61342.22,0.36,2.55,14.368,13.740,13.740,102437.64,108763.91,108763.91,2.10
2015-03-12,14.11,14.80,14.11,13.95,84978.37,-0.19,-1.33,14.330,13.659,13.659,126135.54,114032.98,114032.98,2.91
2015-03-11,14.80,15.08,14.30,14.14,119708.43,-0.35,-2.39,14.140,13.603,13.603,127775.94,117664.81,117664.81,4.10
2015-03-10,14.20,14.80,14.65,14.01,101213.51,0.34,2.38,13.860,13.503,13.503,117249.34,117372.87,117372.87,3.46
2015-03-09,14.14,14.85,14.31,13.80,144945.66,0.03,0.21,13.470,13.312,13.312,124820.96,120066.09,120066.09,4.96
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,13.112,13.112,13.112,115090.18,115090.18,115090.18,6.16
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30

In [11]:
# 查询
data.query('open>23 & open<24')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,77485.53,84805.23,92943.35,0.81
2018-01-16,23.40,24.60,24.40,23.30,101295.42,0.96,4.10,23.908,24.058,23.321,82003.73,101081.47,74590.92,2.54
2018-01-12,23.70,25.15,24.24,23.42,120303.53,0.56,2.37,24.076,23.748,23.236,86133.33,91838.46,69690.35,3.01
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,102925.87,85432.61,65928.23,1.21
2017-12-22,23.21,23.39,22.99,22.90,28394.00,-0.21,-0.91,23.224,23.313,23.316,35689.43,50210.29,53887.77,0.71
2017-12-21,23.39,23.50,23.21,22.86,34005.55,-0.11,-0.47,23.226,23.275,23.389,38699.06,52743.10,55126.09,0.85
2017-12-20,23.61,23.96,23.33,23.20,43368.92,-0.14,-0.60,23.278,23.180,23.430,40910.18,54204.51,57245.14,1.09
2017-12-19,23.23,23.66,23.46,23.23,43068.70,0.31,1.34,23.374,23.053,23.526,45968.22,55134.09,58490.17,1.08
2017-12-15,23.40,23.40,23.00,22.85,43442.15,-0.46,-1.96,23.402,22.856,23.715,64731.15,64281.37,65134.62,1.09
2017-12-14,23.65,23.77,23.47,23.22,45061.12,-0.33,-1.39,23.324,22.974,23.869,66787.14,64289.26,71322.17,1.13
2017-12-13,23.99,24.38,23.81,23.60,68659.12,-0.15,-0.63,23.082,23.052,24.104,67498.84,64780.47,73475.40,1.72
2017-12-04,23.91,24.15,22.92,22.85,85482.80,-1.27,-5.25,24.068,24.357,26.172,56728.88,61968.83,108773.06,2.14
2017-09-06,23.51,24.88,24.51,23.38,161732.80,0.56,2.34,24.576,23.958,23.105,195688.49,164855.13,150908.43,4.05
2017-09-05,23.76,24.32,23.95,23.31,138987.19,0.19,0.80,24.504,23.814,22.950,202643.87,175133.74,145571.54,3.48
2017-08-30,23.25,24.60,24.15,23.21,196509.73,1.09,4.73,23.340,23.111,22.387,134021.77,169549.50,116718.92,4.92
2017-08-29,23.45,23.85,23.06,23.04,90952.18,-0.44,-1.87,23.124,22.885,22.274,147623.61,156883.33,110864.84,2.28
2017-08-28,23.45,23.70,23.50,23.05,119146.78,0.13,0.56,23.382,22.723,22.240,221919.75,151883.31,112052.01,2.98
2017-08-23,23.90,24.06,23.07,22.85,264518.94,-1.28,-5.26,22.882,22.252,22.194,205077.23,136961.73,110195.54,6.62
2017-07-27,23.39,23.39,22.76,22.63,101811.01,-0.64,-2.73,23.218,22.647,22.337,128795.61,133537.65,158236.21,2.55
2017-07-26,23.53,23.92,23.40,22.85,110276.48,-0.30,-1.27,23.200,22.718,22.286,130237.86,140918.73,160464.67,2.76
2017-07-25,23.07,24.20,23.70,22.64,167489.48,0.67,2.91,23.042,22.759,22.199,137135.54,156145.65,166607.70,4.19
2017-07-14,23.28,24.29,22.87,22.80,163954.17,-0.60,-2.56,23.102,22.157,22.571,232640.92,184547.63,230585.56,4.10
2017-07-13,23.60,23.60,23.47,22.81,175621.84,-0.34,-1.43,22.790,22.026,22.468,222056.57,182934.76,228670.24,4.40
2017-06-27,23.10,23.24,22.20,22.06,288556.75,-1.06,-4.56,23.660,22.519,20.555,327174.26,253323.02,148477.09,7.22
2017-06-26,23.30,23.87,23.26,22.57,282271.66,-0.08,-0.34,24.036,22.211,20.333,344263.97,230982.02,136002.95,7.06
2017-06-22,23.32,25.93,25.93,23.26,421673.59,2.36,10.01,23.376,21.272,19.694,271087.94,167798.74,103052.22,10.55
2017-06-20,23.75,24.45,24.08,22.22,374005.34,1.58,7.02,21.378,20.152,18.976,179471.78,114371.67,73335.91,9.36
2016-11-08,23.17,24.50,24.46,22.95,105850.97,1.41,6.12,23.424,23.730,22.741,84457.15,102137.11,80998.53,2.65
2016-11-07,23.11,23.39,23.06,22.84,44069.47,-0.33,-1.41,23.312,23.609,22.637,84152.81,106671.47,79616.43,1.10
2016-11-04,23.17,23.65,23.30,22.80,57950.55,0.09,0.39,23.554,23.491,22.571,105512.66,108668.03,80235.56,1.45
2016-11-03,23.16,23.51,23.20,22.65,108786.66,0.13,0.56,23.672,23.258,22.486,113321.44,106419.41,79787.09,2.72
2016-11-02,23.80,23.99,23.10,23.00,105628.11,-0.78,-3.27,23.836,23.061,22.391,110733.47,98134.50,78653.50,2.64
2016-10-31,23.78,24.75,24.27,23.51,150868.73,0.38,1.59,23.906,22.619,22.078,129190.13,84118.69,75081.12,3.78
2016-10-27,23.89,24.28,24.02,23.89,95846.80,-0.08,-0.33,22.844,22.076,21.694,99517.38,70095.45,70979.59,2.40
2016-10-26,23.25,24.56,24.10,22.80,151046.05,0.86,3.70,22.286,21.899,21.546,85535.53,64577.62,69375.01,3.78
2016-09-09,23.92,24.06,23.08,22.60,182559.94,-1.14,-4.71,23.516,22.585,22.350,158412.12,140117.16,120647.63,6.25
2016-09-07,23.20,24.94,24.48,23.00,228627.59,1.49,6.48,23.192,22.201,22.093,193177.05,116716.33,112294.72,7.83
2015-12-28,23.20,23.40,21.89,21.85,71790.53,-1.31,-5.65,23.208,23.187,22.366,63460.36,67779.93,64901.54,2.46
2015-12-25,23.18,23.30,23.19,22.82,46800.90,0.15,0.65,23.620,23.227,22.294,62566.37,64647.24,65422.61,1.60
2015-12-23,23.97,24.44,24.11,23.66,70107.29,0.33,1.39,23.836,23.012,22.217,78284.79,69944.93,66730.18,2.40
2015-12-22,23.80,24.10,23.80,23.50,53460.38,-0.11,-0.46,23.462,22.731,22.204,72633.58,68271.22,66575.31,1.83
2015-12-18,23.53,24.66,23.99,23.43,109230.05,0.65,2.79,22.834,22.264,22.163,66728.10,68518.08,68161.18,3.74
2015-11-27,23.35,23.43,21.17,21.17,96648.60,-2.35,-9.99,23.098,23.979,23.423,73520.63,101791.59,111634.76,3.31
2015-11-26,23.85,24.08,23.53,23.50,51446.29,-0.31,-1.30,23.710,24.357,23.395,74550.04,110489.85,109815.49,1.76
2015-11-25,23.40,24.15,23.85,23.40,67009.81,0.23,0.97,23.786,24.407,23.266,88392.90,117356.00,110610.73,2.29
2015-11-24,23.26,23.75,23.64,22.86,65186.31,0.33,1.42,23.818,24.487,23.104,106285.54,125822.98,112165.27,2.23
2015-11-20,23.93,24.49,24.23,23.53,101795.66,0.32,1.34,24.860,24.526,22.939,130062.55,140931.38,118704.06,3.48
2015-11-19,23.72,24.26,23.91,23.01,120660.59,-0.12,-0.50,25.004,24.336,22.849,146429.66,138187.78,123305.46,4.13
2015-11-10,23.50,24.79,24.79,23.50,202020.19,2.25,9.98,22.742,21.721,21.054,124019.30,98507.55,116786.59,6.92
2015-10-26,23.32,23.46,21.85,21.06,178488.00,-0.58,-2.59,20.632,20.057,17.844,135255.37,136241.55,104451.05,6.11
2015-07-23,23.20,24.26,24.14,23.00,141147.69,1.68,7.48,22.030,22.978,25.000,112668.13,138161.35,127490.18,4.83
2015-06-30,23.82,25.13,25.01,21.44,174521.44,1.19,5.00,25.830,27.929,29.447,140738.14,119712.07,142160.16,5.97
2015-05-19,23.68,23.69,23.32,22.47,82945.73,0.25,1.08,22.318,21.166,21.536,100396.01,90830.02,97087.92,2.84
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57

In [12]:
# 判断‘open’是否为 23.53 和 23.85
data[data['open'].isin([23,24])]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-01-05,24.0,25.40,24.51,23.70,204266.23,-0.56,-2.23,23.420,22.820,23.048,97543.60,76964.50,64853.80,5.11
2017-12-18,23.0,23.49,23.13,22.83,29610.00,0.12,0.52,23.478,22.877,23.617,62395.75,58694.09,60331.46,0.74
2017-06-23,24.0,24.47,23.34,23.34,438271.69,-2.59,-9.99,23.884,21.699,20.020,333612.72,206858.19,123274.25,10.97
2017-06-21,23.0,23.84,23.57,22.90,205097.59,-0.51,-2.12,22.232,20.579,19.268,206391.22,129693.95,82884.05,5.13
2015-07-24,24.0,24.55,22.99,22.38,132799.91,-1.15,-4.76,22.404,22.716,24.583,120054.00,135023.38,129589.61,4.55

# 数据离散化
- 连续属性的离散化就是在连续属性的值域上，将值域划分为若干个离散的区间，最后用不同的符号或整数 值代表落在每个子区间中的属性值。

In [1]:
import pandas as pd
stock = pd.read_csv("./data/stock_day.csv")
stock.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58

In [2]:
# pd.qcut(data,q) 对数据进行分组，一般会与value_count搭配使用，统计每组的个数
# series.value._counts() 统计分组次数
p_change = stock['p_change']
# 分组
cut = pd.qcut(p_change,10)

In [3]:
# 计算分到每个组数据的个数
cut.value_counts()

(5.27, 10.03]                    65
(0.26, 0.94]                     65
(-0.462, 0.26]                   65
(-10.030999999999999, -4.836]    65
(2.938, 5.27]                    64
(1.738, 2.938]                   64
(-1.352, -0.462]                 64
(-2.444, -1.352]                 64
(-4.836, -2.444]                 64
(0.94, 1.738]                    63
Name: p_change, dtype: int64

In [4]:
# 自定义分组
bins = [-100,-7,-5,-3,0,3,5,7,100]
p_counts = pd.cut(p_change,bins)

In [5]:
p_counts

2018-02-27      (0, 3]
2018-02-26      (3, 5]
2018-02-23      (0, 3]
2018-02-22      (0, 3]
2018-02-14      (0, 3]
2018-02-13      (0, 3]
2018-02-12      (3, 5]
2018-02-09    (-7, -5]
2018-02-08      (0, 3]
2018-02-07     (-3, 0]
2018-02-06    (-5, -3]
2018-02-05      (0, 3]
2018-02-02      (0, 3]
2018-02-01    (-7, -5]
2018-01-31     (-3, 0]
2018-01-30      (0, 3]
2018-01-29     (-3, 0]
2018-01-26      (0, 3]
2018-01-25    (-5, -3]
2018-01-24     (-3, 0]
2018-01-23      (0, 3]
2018-01-22     (-3, 0]
2018-01-19      (0, 3]
2018-01-18      (0, 3]
2018-01-17      (0, 3]
2018-01-16      (3, 5]
2018-01-15    (-5, -3]
2018-01-12      (0, 3]
2018-01-11     (-3, 0]
2018-01-10     (-3, 0]
                ...
2015-04-13    (7, 100]
2015-04-10     (-3, 0]
2015-04-09      (5, 7]
2015-04-08      (5, 7]
2015-04-07      (5, 7]
2015-04-03      (0, 3]
2015-04-02      (0, 3]
2015-04-01      (0, 3]
2015-03-31     (-3, 0]
2015-03-30      (3, 5]
2015-03-27      (5, 7]
2015-03-26     (-3, 0]
2015-03-25     (-3, 0]
2015-03-24      (0, 3]
2015-03-23      (0, 3]
2015-03-20     (-3, 0]
2015-03-19      (0, 3]
2015-03-18      (0, 3]
2015-03-17      (0, 3]
2015-03-16      (0, 3]
2015-03-13      (0, 3]
2015-03-12     (-3, 0]
2015-03-11     (-3, 0]
2015-03-10      (0, 3]
2015-03-09      (0, 3]
2015-03-06    (7, 100]
2015-03-05      (0, 3]
2015-03-04      (0, 3]
2015-03-03      (0, 3]
2015-03-02      (0, 3]
Name: p_change, Length: 643, dtype: category
Categories (8, interval[int64]): [(-100, -7] < (-7, -5] < (-5, -3] < (-3, 0] < (0, 3] < (3, 5] < (5, 7] < (7, 100]]

In [8]:
p_change.value_counts()

-10.00    6
 0.00     6
-9.99     5
 10.01    5
 1.34     5
 1.57     5
 9.99     5
 10.02    4
-0.14     4
 2.10     4
 1.08     3
-1.96     3
-10.02    3
-5.78     3
 3.90     3
-9.98     3
 2.55     3
 0.86     3
 0.21     3
 2.38     3
 0.67     3
 0.27     3
-0.46     3
 0.62     3
-0.81     3
 0.28     3
 0.16     3
 2.08     3
-0.05     3
-3.72     3
         ..
-6.08     1
 6.52     1
-0.43     1
-1.29     1
 4.03     1
 6.66     1
-5.39     1
 4.33     1
-9.93     1
 5.63     1
-3.44     1
-0.11     1
 0.32     1
-4.88     1
 0.99     1
 0.77     1
 8.17     1
 0.05     1
-2.03     1
-7.22     1
-4.76     1
-6.96     1
-1.07     1
 6.26     1
 1.03     1
-2.97     1
 3.32     1
 0.09     1
-0.38     1
-2.84     1
Name: p_change, Length: 482, dtype: int64

In [ ]:
# 股票涨跌分组数据变成one-hot编码

## one-hot 编码
```
pandas.get_dummies(data, prefix=None)

data:array-like, Series, or DataFrame

prefix:分组名字
```

In [6]:
dummies = pd.get_dummies(p_counts,prefix="rise")

In [7]:
dummies

,"rise_(-100, -7]","rise_(-7, -5]","rise_(-5, -3]","rise_(-3, 0]","rise_(0, 3]","rise_(3, 5]","rise_(5, 7]","rise_(7, 100]"
2018-02-27,0,0,0,0,1,0,0,0
2018-02-26,0,0,0,0,0,1,0,0
2018-02-23,0,0,0,0,1,0,0,0
2018-02-22,0,0,0,0,1,0,0,0
2018-02-14,0,0,0,0,1,0,0,0
2018-02-13,0,0,0,0,1,0,0,0
2018-02-12,0,0,0,0,0,1,0,0
2018-02-09,0,1,0,0,0,0,0,0
2018-02-08,0,0,0,0,1,0,0,0
2018-02-07,0,0,0,1,0,0,0,0
2018-02-06,0,0,1,0,0,0,0,0
2018-02-05,0,0,0,0,1,0,0,0
2018-02-02,0,0,0,0,1,0,0,0
2018-02-01,0,1,0,0,0,0,0,0
2018-01-31,0,0,0,1,0,0,0,0
2018-01-30,0,0,0,0,1,0,0,0
2018-01-29,0,0,0,1,0,0,0,0
2018-01-26,0,0,0,0,1,0,0,0
2018-01-25,0,0,1,0,0,0,0,0
2018-01-24,0,0,0,1,0,0,0,0
2018-01-23,0,0,0,0,1,0,0,0
2018-01-22,0,0,0,1,0,0,0,0
2018-01-19,0,0,0,0,1,0,0,0
2018-01-18,0,0,0,0,1,0,0,0
2018-01-17,0,0,0,0,1,0,0,0
2018-01-16,0,0,0,0,0,1,0,0
2018-01-15,0,0,1,0,0,0,0,0
2018-01-12,0,0,0,0,1,0,0,0
2018-01-11,0,0,0,1,0,0,0,0
2018-01-10,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
2015-04-13,0,0,0,0,0,0,0,1
2015-04-10,0,0,0,1,0,0,0,0
2015-04-09,0,0,0,0,0,0,1,0
2015-04-08,0,0,0,0,0,0,1,0
2015-04-07,0,0,0,0,0,0,1,0
2015-04-03,0,0,0,0,1,0,0,0
2015-04-02,0,0,0,0,1,0,0,0
2015-04-01,0,0,0,0,1,0,0,0
2015-03-31,0,0,0,1,0,0,0,0
2015-03-30,0,0,0,0,0,1,0,0
2015-03-27,0,0,0,0,0,0,1,0
2015-03-26,0,0,0,1,0,0,0,0
2015-03-25,0,0,0,1,0,0,0,0
2015-03-24,0,0,0,0,1,0,0,0
2015-03-23,0,0,0,0,1,0,0,0
2015-03-20,0,0,0,1,0,0,0,0
2015-03-19,0,0,0,0,1,0,0,0
2015-03-18,0,0,0,0,1,0,0,0
2015-03-17,0,0,0,0,1,0,0,0
2015-03-16,0,0,0,0,1,0,0,0
2015-03-13,0,0,0,0,1,0,0,0
2015-03-12,0,0,0,1,0,0,0,0
2015-03-11,0,0,0,1,0,0,0,0
2015-03-10,0,0,0,0,1,0,0,0
2015-03-09,0,0,0,0,1,0,0,0
2015-03-06,0,0,0,0,0,0,0,1
2015-03-05,0,0,0,0,1,0,0,0
2015-03-04,0,0,0,0,1,0,0,0
2015-03-03,0,0,0,0,1,0,0,0
2015-03-02,0,0,0,0,1,0,0,0

In [9]:
# 实现表合并
pd.concat([stock,dummies],axis=1)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,...,v_ma20,turnover,"rise_(-100, -7]","rise_(-7, -5]","rise_(-5, -3]","rise_(-3, 0]","rise_(0, 3]","rise_(3, 5]","rise_(5, 7]","rise_(7, 100]"
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,...,55576.11,2.39,0,0,0,0,1,0,0,0
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,...,56007.50,1.53,0,0,0,0,0,1,0,0
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,...,56372.85,1.32,0,0,0,0,1,0,0,0
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,...,60149.60,0.90,0,0,0,0,1,0,0,0
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,...,61716.11,0.58,0,0,0,0,1,0,0,0
2018-02-13,21.40,21.90,21.48,21.31,30802.45,0.28,1.32,21.342,22.103,23.387,...,65161.68,0.77,0,0,0,0,1,0,0,0
2018-02-12,20.70,21.40,21.19,20.63,32445.39,0.82,4.03,21.504,22.338,23.533,...,68686.33,0.81,0,0,0,0,0,1,0,0
2018-02-09,21.20,21.46,20.36,20.19,54304.01,-1.50,-6.86,21.920,22.596,23.645,...,70552.47,1.36,0,1,0,0,0,0,0,0
2018-02-08,21.79,22.09,21.88,21.75,27068.16,0.09,0.41,22.372,23.009,23.839,...,73852.45,0.68,0,0,0,0,1,0,0,0
2018-02-07,22.69,23.11,21.80,21.29,53853.25,-0.50,-2.24,22.480,23.258,23.929,...,74925.33,1.35,0,0,0,1,0,0,0,0
2018-02-06,22.80,23.55,22.29,22.20,55555.00,-0.97,-4.17,22.864,23.607,24.029,...,75738.95,1.39,0,0,1,0,0,0,0,0
2018-02-05,22.45,23.39,23.27,22.25,52341.39,0.65,2.87,23.172,23.928,24.112,...,77070.00,1.31,0,0,0,0,1,0,0,0
2018-02-02,22.40,22.70,22.62,21.53,33242.11,0.20,0.89,23.272,24.114,24.184,...,79929.71,0.83,0,0,0,0,1,0,0,0
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,...,88480.92,1.66,0,1,0,0,0,0,0,0
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,...,91666.75,1.23,0,0,0,1,0,0,0,0
2018-01-30,23.71,24.08,23.83,23.70,32420.43,0.05,0.21,24.350,24.671,24.365,...,92943.35,0.81,0,0,0,0,1,0,0,0
2018-01-29,24.40,24.63,23.77,23.72,65469.81,-0.73,-2.98,24.684,24.728,24.294,...,93456.22,1.64,0,0,0,1,0,0,0,0
2018-01-26,24.27,24.74,24.49,24.22,50601.83,0.11,0.45,24.956,24.694,24.221,...,91980.51,1.27,0,0,0,0,1,0,0,0
2018-01-25,24.99,24.99,24.37,24.23,104097.59,-0.93,-3.68,25.084,24.669,24.109,...,92262.67,2.61,0,0,1,0,0,0,0,0
2018-01-24,25.49,26.28,25.29,25.20,134838.00,-0.20,-0.79,25.130,24.599,23.997,...,89522.22,3.37,0,0,0,1,0,0,0,0
2018-01-23,25.15,25.53,25.50,24.93,104205.76,0.39,1.55,24.992,24.450,23.844,...,85876.80,2.61,0,0,0,0,1,0,0,0
2018-01-22,25.14,25.40,25.13,24.75,68292.08,-0.01,-0.04,24.772,24.296,23.644,...,84970.00,1.71,0,0,0,1,0,0,0,0
2018-01-19,24.60,25.34,25.13,24.42,128449.11,0.53,2.15,24.432,24.254,23.537,...,82975.10,3.21,0,0,0,0,1,0,0,0
2018-01-18,24.40,24.88,24.60,24.30,67435.14,0.01,0.04,24.254,24.192,23.441,...,78252.92,1.69,0,0,0,0,1,0,0,0
2018-01-17,24.42,24.92,24.60,23.80,92242.51,0.20,0.82,24.068,24.239,23.378,...,77049.61,2.31,0,0,0,0,1,0,0,0
2018-01-16,23.40,24.60,24.40,23.30,101295.42,0.96,4.10,23.908,24.058,23.321,...,74590.92,2.54,0,0,0,0,0,1,0,0
2018-01-15,24.01,24.23,23.43,23.30,69768.17,-0.80,-3.30,23.820,23.860,23.257,...,71006.65,1.75,0,0,1,0,0,0,0,0
2018-01-12,23.70,25.15,24.24,23.42,120303.53,0.56,2.37,24.076,23.748,23.236,...,69690.35,3.01,0,0,0,0,1,0,0,0
2018-01-11,23.67,23.85,23.67,23.21,48525.75,-0.12,-0.50,24.130,23.548,23.197,...,65928.23,1.21,0,0,0,1,0,0,0,0
2018-01-10,24.10,24.60,23.80,23.40,70125.79,-0.14,-0.58,24.410,23.394,23.204,...,66934.89,1.76,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-04-13,19.60,21.30,21.13,19.50,171822.69,1.70,8.75,19.228,17.812,16.563,...,111752.31,5.88,0,0,0,0,0,0,0,1
2015-04-10,19.55,19.89,19.43,19.20,112962.15,-0.19,-0.97,18.334,17.276,16.230,...,106228.29,3.87,0,0,0,1,0,0,0,0
2015-04-09,18.28,19.89,19.62,18.02,183119.05,1.20,6.51,17.736,16.826,15.964,...,104829.10,6.27,0,0,0,0,0,0,1,0
2015-04-08,17.60,18.53,18.42,17.60,157725.97,0.88,5.02,17.070,16.394,15.698,...,101658.57,5.40,0,0,0,0,0,0,1,0
2015-04-07,16.54,17.98,17.54,16.50,122471.85,0.88,5.28,16.620,16.120,15.510,...,98832.94,4.19,0,0,0,0,0,0,1,0
2015-04-03,16.44,16.77,16.66,16.25,91962.88,0.22,1.34,16.396,15.904,15.348,...,99956.63,3.15,0,0,0,0,1,0,0,0
2015-04-02,16.21,16.50,16.44,16.21,66336.32,0.15,0.92,16.218,15.772,15.229,...,104350.08,2.27,0,0,0,0,1,0,0,0
2015-04-01,16.18,16.48,16.29,16.00,68609.42,0.12,0.74,15.916,15.666,15.065,...,105692.28,2.35,0,0,0,0,1,0,0,0
2015-03-31,16.78,16.88,16.17,16.07,84467.62,-0.25,-1.52,15.718,15.568,14.896,...,105615.58,2.89,0,0,0,1,0,0,0,0
2015-03-30,15.99,16.63,16.42,15.99,85090.45,0.65,4.12,15.620,15.469,14.722,...,108345.78,2.91,0,0,0,0,0,1,0,0
2015-03-27,14.90,15.86,15.77,14.90,120352.13,0.84,5.63,15.412,15.314,14.527,...,108905.84,4.12,0,0,0,0,0,0,1,0
2015-03-26,15.14,15.35,14.93,14.91,84877.75,-0.37,-2.42,15.326,15.184,14.462,...,108303.41,2.91,0,0,0,1,0,0,0,0
2015-03-25,15.97,15.97,15.30,15.18,97174.40,-0.38,-2.42,15.416,15.102,14.436,...,109604.83,3.33,0,0,0,1,0,0,0,0
2015-03-24,15.38,16.16,15.68,15.28,153390.08,0.30,1.95,15.418,15.002,14.385,...,110336.03,5.25,0,0,0,0,1,0,0,0
2015-03-23,15.34,15.56,15.38,15.25,89461.32,0.04,0.26,15.318,14.899,14.304,...,107645.16,3.06,0,0,0,0,1,0,0,0
2015-03-20,15.38,15.48,15.34,15.18,76800.13,-0.04,-0.26,15.216,14.792,14.232,...,108857.41,2.63,0,0,0,1,0,0,0,0
2015-03-19,15.20,15.64,15.38,15.11,93644.19,0.07,0.46,15.042,14.686,14.153,...,111147.22,3.21,0,0,0,0,1,0,0,0
2015-03-18,15.18,15.66,15.31,15.02,121538.71,0.13,0.86,14.788,14.464,14.058,...,112493.60,4.16,0,0,0,0,1,0,0,0
2015-03-17,14.90,15.44,15.18,14.63,158770.77,0.31,2.08,14.586,14.223,13.954,...,111739.85,5.43,0,0,0,0,1,0,0,0
2015-03-16,14.52,15.05,14.87,14.51,94468.30,0.40,2.76,14.480,13.975,13.843,...,107464.31,3.23,0,0,0,0,1,0,0,0
2015-03-13,14.13,14.50,14.47,14.08,61342.22,0.36,2.55,14.368,13.740,13.740,...,108763.91,2.10,0,0,0,0,1,0,0,0
2015-03-12,14.11,14.80,14.11,13.95,84978.37,-0.19,-1.33,14.330,13.659,13.659,...,114032.98,2.91,0,0,0,1,0,0,0,0
2015-03-11,14.80,15.08,14.30,14.14,119708.43,-0.35,-2.39,14.140,13.603,13.603,...,117664.81,4.10,0,0,0,1,0,0,0,0
2015-03-10,14.20,14.80,14.65,14.01,101213.51,0.34,2.38,13.860,13.503,13.503,...,117372.87,3.46,0,0,0,0,1,0,0,0
2015-03-09,14.14,14.85,14.31,13.80,144945.66,0.03,0.21,13.470,13.312,13.312,...,120066.09,4.96,0,0,0,0,1,0,0,0
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,13.112,13.112,13.112,...,115090.18,6.16,0,0,0,0,0,0,0,1
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,...,98904.79,3.19,0,0,0,0,1,0,0,0
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,...,100812.93,2.30,0,0,0,0,1,0,0,0
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,...,117681.67,4.76,0,0,0,0,1,0,0,0
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,...,96291.73,3.30,0,0,0,0,1,0,0,0