#### Windows 上的倒斜杠以及 OS X 和 Linux 上的正斜杠

    在 Windows 上，路径书写使用倒斜杠作为文件夹之间的分隔符。但在 OS X 和
    Linux 上，使用正斜杠作为它们的路径分隔符。如果想要程序运行在所有操作系统
    上，在编写 Python 脚本时，就必须处理这两种情况。
    好在，用 os.path.join()函数来做这件事很简单。如果将单个文件和路径上的文
    件夹名称的字符串传递给它，os.path.join()就会返回一个文件路径的字符串，包含正
    确的路径分隔符

In [2]:
import os
os.path.join("usr","bin","spam")

#如果需要创建文件名称的字符串，os.path.join()函数就很有用。这些字符串将传
#递给几个文件相关的函数

'usr\\bin\\spam'

In [3]:
# 下面的例子将一个文件名列表中的名称，添加到文件夹名称的末尾。
import os
myFiles = ["accounts.txt","details.csv","invite.docx"]
for filename in myFiles:
    print(os.path.join("C:\\Users\\asweigart",filename))

C:\Users\asweigart\accounts.txt
C:\Users\asweigart\details.csv
C:\Users\asweigart\invite.docx

In [4]:
# 当前工作的目录
os.getcwd()

'D:\\Python\\Learning\\Exercise\\P02_Python高阶课程'

In [5]:
# 创建新的文件夹 os.makedirs()
import os
os.makedirs("D:\\mkdirtest\\test")

# 这将不仅创建mkdirtest文件夹，也会创建test文件夹

### os.path 模块

    os.path 模块包含了许多与文件名和文件路径相关的有用函数。例如，你已经使用了 os.path.join()来构建所有操作系统上都有效的路径。因为 os.path 是 os 模块中的模块，所以只要执行 import os 就可以导入它。

In [9]:
# 处理绝对路径和相对路径 

# 将相对路径转换为绝对路径
import os
path = os.path.abspath("./")
print(path)

# 判断路劲是不是绝对路径
os.path.isabs("./")

D:\Python\Learning\Exercise\P02_Python高阶课程

False

In [11]:
import os
path = 'C:\\Windows\\System32\\calc.exe'
print(os.path.basename(path))
print(os.path.dirname(path))

calc.exe
C:\Windows\System32

In [1]:
import pandas as pd
allGuests = {'Alice': {'apples': 5, 'pretzels': 12},
'Bob': {'ham sandwiches': 3, 'apples': 2},
'Carol': {'cups': 3, 'apple pies': 1}}

guest_frame = pd.DataFrame(allGuests)
guest_frame

                Alice  Bob  Carol
apple pies        NaN  NaN    1.0
apples            5.0  2.0    NaN
cups              NaN  NaN    3.0
ham sandwiches    NaN  3.0    NaN
pretzels         12.0  NaN    NaN

In [4]:
import pandas as pd
tableData = [['apples', 'oranges', 'cherries', 'banana'],
['Alice', 'Bob', 'Carol', 'David'],
['dogs', 'cats', 'moose', 'goose']]
tableData = pd.DataFrame(tableData)
tableData

        0        1         2       3
0  apples  oranges  cherries  banana
1   Alice      Bob     Carol   David
2    dogs     cats     moose   goose

In [32]:
"""
编写一个名为 printTable()的函数，它接受字符串的列表的列表，将它显示在组
织良好的表格中，每列右对齐。假定所有内层列表都包含同样数目的字符串。例如，
该值可能看起来像这样：
tableData = [['apples', 'oranges', 'cherries', 'banana', 'pair'],
['Alice', 'Bob', 'Carol', 'David', 'pair'],
['dogs', 'cats', 'moose', 'goose', 'pair']]
"""
tableData = [['apples', 'oranges', 'cherries', 'banana'],
['Alice', 'Bob', 'Carol', 'David'],
['dogs', 'cats', 'moose', 'goose']]


def printTable(str_list):
    long_str = 0
    for inner_list in str_list:
        len_inner_list = len(inner_list)
        for ele in inner_list:
            if len(ele) > long_str:
                long_str = len(ele)
    print("-" * (long_str + 3) * len_inner_list)
    for inner_list in str_list:
        for ele in inner_list:
            print("|" + "%s"%ele.rjust(long_str + 1), end=" ")
        print("|")
        print("-" * (long_str + 3) * len_inner_list)
        

printTable(tableData)

--------------------------------------------
|   apples |  oranges | cherries |   banana |
--------------------------------------------
|    Alice |      Bob |    Carol |    David |
--------------------------------------------
|     dogs |     cats |    moose |    goose |
--------------------------------------------