### 安装 openpyxl 模块
- pip install openpyxl

    如果该模块正确安装，这应该不会产生错误消息。记得在运行本章的交互式环
    境例子之前，要导入 openpyxl 模块，否则会得到错误

In [10]:
import openpyxl
exl = openpyxl.load_workbook("working_hours.xlsx")
print(type(exl))
exl.get_sheet_names()
sheet1 = exl.get_sheet_by_name("Sheet1")
print(sheet1)
print("----------")
print(sheet1["A3"].value)

<class 'openpyxl.workbook.workbook.Workbook'>
<Worksheet "Sheet1">
----------
作息时间表（全天上课）

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  after removing the cwd from sys.path.
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """

In [26]:
import openpyxl
import pandas as pd
import numpy as np
data = pd.read_excel("working_hours.xlsx")
data = pd.DataFrame(data)
# 缺省值的填充
data = data.fillna("")
data = np.array(data)
print(data)

[['作息时间表（全天上课）' '' '']
 ['上午' '点名、早读' '08:00—08:20']
 ['' '第一节课' '08:30—09:20']
 ['' '第二节课' '09:30—10:20']
 ['' '第三节课' '10:30—11:20']
 ['' '第四节课' '11:30—12:30']
 ['上课时间以讲师安排为准' '' '']
 ['中午' '午休' '12:30—14:00']
 ['下午' '点名、演讲' '14:00—14:25']
 ['' '第一节课' '14:30—15:20']
 ['' '第二节课' '15:30—16:30']
 ['' '高效练习（一）' '16:30—17:20']
 ['' '高效练习（二）' '17:30—18:30']
 ['' '' '']
 ['晚上' '晚饭' '18:30—19:30']
 ['晚自习' '点名' datetime.time(19, 30)]
 ['' '晚自习' '19:30—21:00']
 ['' '下自习后值日' '']]

In [39]:
# python 写入 excel
import openpyxl
import pandas as pd
import numpy as np
data = np.random.randint(0,9,size=(20,8))
data = pd.DataFrame(data)
data.to_excel("test1.xlsx")
data

    0  1  2  3  4  5  6  7
0   6  8  6  6  7  2  2  7
1   7  8  7  5  0  0  7  4
2   8  5  7  4  5  5  5  1
3   3  7  8  0  0  8  5  8
4   2  4  6  4  3  6  2  6
5   5  8  5  5  2  7  1  1
6   7  2  3  3  3  3  6  2
7   8  8  5  8  0  7  7  2
8   2  7  6  1  7  2  6  8
9   3  3  6  3  6  4  6  7
10  6  4  2  4  1  2  1  7
11  4  2  1  8  7  1  5  7
12  6  6  3  0  0  6  1  6
13  5  2  3  1  3  5  1  4
14  2  2  2  2  4  5  5  3
15  8  3  6  6  3  0  5  2
16  5  1  4  3  2  7  5  3
17  1  4  3  6  7  5  5  5
18  5  2  0  0  1  3  6  5
19  8  8  0  6  4  6  7  2

In [43]:
import pandas
data = pd.read_excel("Python就业28期 404教室 座位表.xlsx")
data = pd.DataFrame(data)
data = data.fillna("")
data

,Python就业28期 404教室 座位表,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
NaN,,,讲师,,过道,,,,,,,,,,
第一组,郑灏东,周杨杰,胡秋驰,刘瑞,,第三组,杨洋,王浩,陈德鹏,张龙龙,刘岩,顾成东,金磊,王文捷,第五组
NaN,罗政章,周立豪,铁帅航,罗锐,,,杨继良,胡进山,李宇航,刘智博,王琦,侯晓伟,金阳,季银灿,
第二组,仵晨阳,张帅,张磊,徐虎君,,第四组,马雪松,李清辉,闫海阔,贾旭光,马良,张世超,吴道坤,杨振,第六组
NaN,焦玉鹏,曹志超,魏自豪,杨杰,,,李希为,张泽峰,黄宇,陈剑锋,程宇,刘永朋,郭傲,刘立璇,
第七组,,马守越,黄铭,常帅,,,代鑫,韦威,候诗伟,刘林,,,,,
NaN,,,,,,,,,,,墙,,,,
NaN,,,,,,,,,,,,,,,
NaN,,,,,,,,,,,,,,,

In [49]:
# 读取excel文档
import openpyxl
data = openpyxl.load_workbook("Python就业28期 404教室 座位表.xlsx")
print(data.get_sheet_names())
sheet1 = data.get_sheet_by_name("Sheet1")
print(sheet1["A3"].value)

['Sheet1', 'Sheet2', 'Sheet3']
第一组

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated function get_sheet_names (Use wb.sheetnames).
  after removing the cwd from sys.path.
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """