### pymysql操作数据库步骤

In [ ]:
# 查询数据
import pymysql

if __name__ == '__main__':
    # 1 建立连接            服务器IP,端口,用户名,密码,数据库名,通信采用的字符集
    conn = pymysql.connect(host='127.0.0.1',port=3306,user='root',password='mysql',
                    database='py28',charset='utf8')
    # 2 通过连接对象获取游标对象
    cur = conn.cursor()

    # 3 通过游标执行execute SQL 语句   execute参数是需要执行的ＳＱＬ语句　返回值是ＳＱＬ影响的行数
    sql = "select * from hero;"
    row_count = cur.execute(sql)
    print("影响的行数有%s" % row_count)

    # 4 通过游标取出数据
    # 4.1 一次性获取全部数据　((一行数据),...) 取完返回()
    # print(cur.fetchall())
    # print(cur.fetchall())

    # 4.1 一行一行数据的获取　(一行数据)　　取完返回None
    print(cur.fetchone()[1])

    # 5 先关闭游标 关闭连接
    cur.close()
    conn.close()

In [ ]:
# 修改数据
import pymysql

if __name__ == '__main__':
    # 1 建立连接
    conn = pymysql.connect(host='localhost', port=3306, user='root', password='mysql',
                    db='py28', charset='utf8')
    # 2 创建游标
    cur = conn.cursor()

    # 3 使用游标执行ＳＱＬ
    # sql = "update hero set gongfuid = 3000 where id = 4";
    # sql = "insert into hero(name,gongfuid) VALUES ('墨子', 200),('韩信',100)"
    sql = "delete from hero where id = 2;"
    row_count = cur.execute(sql)   # 执行ＳＱＬ语句
    print("ＳＱＬ影响的行数%s" % row_count)

    # 4 获取结果/提交修改　　保存到数据库
    conn.commit()

    # 5 关闭连接
    cur.close()
    conn.close()

In [ ]:
import pymysql

if __name__ == '__main__':
    # 1 建立连接
    conn = pymysql.connect(host='localhost', port=3306, user='root', password='mysql',
                    db='py28', charset='utf8')
    # 2 创建游标
    cur = conn.cursor()

    # 3 使用游标执行ＳＱＬ
    # sql = "update hero set gongfuid = 3000 where id = 4";
    # sql = "insert into hero(name,gongfuid) VALUES ('墨子', 200),('韩信',100)"
    # sql = "delete from hero where id = 2;"
    id = input("请输入你需要查看的英雄id：")
    name = input("请输入你需要查看的英雄名字：")

    # sql = "select * from hero where id='%s' and name='%s'" % (id,name)
    # sql = "select * from hero where id='1' and name='妲己'"
    # sql = "select * from hero where id='1'＃ and name='妲己'"
    # sql = "select * from hero where id='1' or 1=1 ＃ and name='妲己'"
    sql = "select * from hero where id=%s and name=%s"  #　参数化列表的情况下占位符只能是%s 左右不需要'

    row_count = cur.execute(sql, [id,name])   # 执行ＳＱＬ语句
    # select * from hero where id='1\' or 1=1 #' and name='fajdlfkdas'
    print(cur.mogrify(sql, [id,name]))
    print("ＳＱＬ影响的行数%s" % row_count)

    # 4 获取结果/提交修改　　保存到数据库
    # conn.commit()
    print(cur.fetchall())
    # 5 关闭连接
    cur.close()
    conn.close()