In [1]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:
# 1. 获取数据
products = pd.read_csv('./data/instacart/products.csv')

In [3]:
order_products__prior = pd.read_csv('./data/instacart/order_products__prior.csv')

In [4]:
orders = pd.read_csv("./data/instacart/orders.csv")

In [5]:
aisles = pd.read_csv('./data/instacart/aisles.csv')

In [8]:
table1 = pd.merge(order_products__prior,products,on=["product_id"])

In [9]:
table2 = pd.merge(table1,orders,on=['order_id'])

In [10]:
table3 = pd.merge(table2,aisles,on=['aisle_id'])

In [11]:
table3.shape

(32434489, 14)

In [12]:
#    2.2 交叉表
data = pd.crosstab(table3['user_id'],table3['aisle'])

In [13]:
#    2.3 缩小数据
mydata = data[:1000]

In [14]:
mydata.head()

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,3,0,0,0,0,2,0,0,0,...,3,1,1,0,0,0,0,2,0,42
3,0,0,0,0,0,0,0,0,0,0,...,4,1,0,0,0,0,0,2,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [15]:
mydata.shape

(1000, 134)

In [17]:
# 3. 特征工程
#    降维操作
transfer = PCA(n_components=0.9)
mydata = transfer.fit_transform(mydata)

In [18]:
mydata.shape

(1000, 22)

In [20]:
# 4. 建立模型
#    kmean
estimator = KMeans(n_clusters=8)
pre = estimator.fit_predict(mydata)

In [23]:
# 模型评估
print("SC系数:",silhouette_score(mydata,pre))

SC系数: 0.36661854323521903