In [1]:
import pandas as pd 
import numpy as np

In [3]:
type(np.nan)

float

In [5]:
movie = pd.read_csv('./data/IMDB-Movie-Data.csv')

In [7]:
np.any(pd.isnull(movie)) # 有一个True 返回True

Rank                  False
Title                 False
Genre                 False
Description           False
Director              False
Actors                False
Year                  False
Runtime (Minutes)     False
Rating                False
Votes                 False
Revenue (Millions)     True
Metascore              True
dtype: bool

In [9]:
np.all(pd.notnull(movie)) # 全部True 返回True

Rank                   True
Title                  True
Genre                  True
Description            True
Director               True
Actors                 True
Year                   True
Runtime (Minutes)      True
Rating                 True
Votes                  True
Revenue (Millions)    False
Metascore             False
dtype: bool

# 缺失值处理

## 删除缺失值

In [11]:
movie.shape

(1000, 12)

In [12]:
data = movie.dropna()

In [13]:
data.shape

(838, 12)

In [14]:
np.any(pd.isnull(movie))

Rank                  False
Title                 False
Genre                 False
Description           False
Director              False
Actors                False
Year                  False
Runtime (Minutes)     False
Rating                False
Votes                 False
Revenue (Millions)     True
Metascore              True
dtype: bool

In [18]:
movie['Revenue (Millions)'].fillna(movie['Revenue (Millions)'].mean(),inplace = True)

In [19]:
movie['Revenue (Millions)'].head(10)

0    333.130000
1    126.460000
2    138.120000
3    270.320000
4    325.020000
5     45.130000
6    151.060000
7     82.956376
8      8.010000
9    100.010000
Name: Revenue (Millions), dtype: float64

In [20]:
np.any(pd.isnull(movie))

Rank                  False
Title                 False
Genre                 False
Description           False
Director              False
Actors                False
Year                  False
Runtime (Minutes)     False
Rating                False
Votes                 False
Revenue (Millions)    False
Metascore              True
dtype: bool

In [24]:
for i in movie.columns:
    if(np.any(pd.isnull(movie[i]))):
        print(i)
        movie[i].fillna(movie[i].mean(),inplace = True)

In [25]:
np.any(pd.isnull(movie))

Rank                  False
Title                 False
Genre                 False
Description           False
Director              False
Actors                False
Year                  False
Runtime (Minutes)     False
Rating                False
Votes                 False
Revenue (Millions)    False
Metascore             False
dtype: bool

## 缺失值为其他符号

In [26]:
wis = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data")

In [31]:
np.any(wis=='?')

1000025    False
5          False
1          False
1.1        False
1.2        False
2          False
1.3         True
3          False
1.4        False
1.5        False
2.1        False
dtype: bool

In [32]:
wis.replace(to_replace="?",value=np.nan,inplace=True)

In [34]:
np.any(pd.isnull(wis))

1000025    False
5          False
1          False
1.1        False
1.2        False
2          False
1.3         True
3          False
1.4        False
1.5        False
2.1        False
dtype: bool

In [35]:
wis.shape

(698, 11)

In [38]:
# 执行删除
wis.dropna(inplace=True)

In [39]:
wis.shape

(682, 11)