In [1]:
import pandas as pd

In [2]:
stock = pd.read_csv('./data/stock_day.csv')

In [3]:
stock.head()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58

# 问题1：统计股价涨跌的天数 (close>open)？

In [6]:
stock[stock['close']>stock['open']].shape[0]

353

# •	问题2：统计2018 2月的交易日天数？

In [9]:
time = pd.to_datetime(stock.index)

In [17]:
stock[(time>pd.to_datetime('2018-02-1'))& (time<pd.to_datetime('2018-03-01'))].shape[0]

13

# •	问题3：如何统计2017近一年每个月的交易日天数？

In [19]:
data = stock[(time>pd.to_datetime('2017-01-01'))& (time<pd.to_datetime('2018-01-01'))]

In [21]:
time = pd.to_datetime(data.index)

In [24]:
mytime = pd.DatetimeIndex(time)

In [26]:
data['month'] = mytime.month

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [29]:
data.groupby('month').count()['open']

month
1     18
2     18
3     23
4     18
5     20
6     22
7     21
8     23
9     21
10    17
11    22
12    21
Name: open, dtype: int64